.pageIndex {
  margin-top: 10rem;

  @media only screen and (min-width : 768px) {
    margin-top: 25rem;
  }

  &__h1 {
    margin-bottom: 3rem;

    transition: font-size 0.5s ease;
    -webkit-transition: font-size 0.5s ease;
    font-size: 500%;

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      font-size: 800%;
    }
  }

  &__h1:hover {
    font-size: 700%;

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      font-size: 1200%;
    }
  }

  &__p {
    margin-bottom: 11rem;
    font-size: 125%;
  }
}
